@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.shopping-top-icons {
    background-color: #ededed;
    border-radius: 50%;  
    padding: 10px;       
    margin: 10px;
    display: inline-block; 
}
